body, html {
    height: 100%;
    margin: 0;
    background-image:url(images/background.jpg);
    background-size: cover;
    overflow: hidden;
}

.bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
    animation: pulse .75s infinite cubic-bezier(0.66, 0, 0, 1);
    text-shadow: black 0.5em 0.5em 1em;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

@keyframes pulse {to {box-shadow: 0 0 150px 5px rgba(169, 68, 66, 0);width:120px;height:120px;}}
}
